#q11 .base-character, #q11 .success-character, #q11 .fail-character {
  bottom: -10px;
  left: 10px;
  width: 400px;
  z-index: 10;
}

#q11 .base-character {
  display: block;
}

#q11 .success-character,
#q11 .fail-character {
  display: none;
}

#q11.marked.correct .base-character {
  display: none;
}

#q11.marked.correct .success-character {
  bottom: 25px;
  display: block;
  left: 0px;
  width: 400px;
}

#q11.marked.incorrect .base-character {
  display: none;
}

#q11.marked.incorrect .fail-character {
  display: block;
}
